<div class="container">

    <div class="row" *ngFor="let array of notificationList;let i = index" class="pt-3">
        <div class="col-3">
            <button class="btn-link btn-lg btn-block" (click)="array.collapse = !array.collapse" aria-controls="urgent">
                <span class="text-white"> {{array.type_name}}</span>
            </button>
        </div>
        <div class="col-12" [ngbCollapse]="array.collapse">
            <div class="row mt-4" *ngFor="let notification of array.notifications">
                <div class="col-md-12 text-white ">
                    <div class="panel">
                        <div class="row">
                            <div class="col-1 text-center">
                                <img src={{API_URL}}{{notification.device.machine_photo}}
                                     width="100px" height="100px" class="rounded-circle">
                            </div>
                            <div class="col-8 pl-5">
                                <div class="row">
                                    <div class="col-12 text-left font-weight-bold pb-3">
                                        <span>{{notification.device.name}} </span><span
                                            class="pl-2">{{notification.device.industry_type.name}}</span></div>
                                    <div class="col-12 text-left"><span>{{notification.message}}</span></div>
                                    <div class="col-12 text-left faded-text">
                                        <span>{{notification.created_at|timeAgo}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-12 text-white">-->
    <!--<button class="btn-link btn-lg" (click)="unreadCollapsed = !unreadCollapsed" aria-controls="unread"-->
    <!--[attr.aria-expanded]="!unreadCollapsed">Unread-->
    <!--</button>-->
    <!--</div>-->
    <!--<div class="col-12" [ngbCollapse]="unreadCollapsed" id="unread">-->
    <!--<div class="row mt-4" *ngFor="let notification of unreadNotifications">-->
    <!--<div class="col-md-12 text-white ">-->
    <!--<div class="panel">-->
    <!--<div class="row">-->
    <!--<div class="col-1 text-center">-->
    <!--<img src={{API_URL}}{{notification.device.machine_photo}}-->
    <!--width="100px" height="100px" class="rounded-circle">-->
    <!--</div>-->
    <!--<div class="col-8 pl-5">-->
    <!--<div class="row">-->
    <!--<div class="col-12 text-left font-weight-bold pb-3">-->
    <!--<span>{{notification.device.name}} </span><span-->
    <!--class="pl-2">{{notification.device.industry_type.name}}</span></div>-->
    <!--<div class="col-12 text-left"><span>{{notification.message}}</span></div>-->
    <!--<div class="col-12 text-left faded-text">-->
    <!--<span>{{notification.created_at|timeAgo}}</span></div>-->
    <!--</div>-->


    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-12 text-white">-->
    <!--<button class="btn-link btn-lg" (click)="readCollapsed = !readCollapsed" aria-controls="read"-->
    <!--[attr.aria-expanded]="!readCollapsed">Read-->
    <!--</button>-->
    <!--</div>-->
    <!--<div class="col-12" [ngbCollapse]="readCollapsed">-->
    <!--<div class="row mt-4" *ngFor="let notification of readNotifications">-->
    <!--<div class="col-md-12 text-white ">-->
    <!--<div class="panel">-->
    <!--<div class="row">-->
    <!--<div class="col-1 text-center">-->
    <!--<img src={{API_URL}}{{notification.device.machine_photo}}-->
    <!--width="100px" height="100px" class="rounded-circle">-->
    <!--</div>-->
    <!--<div class="col-8 pl-5">-->
    <!--<div class="row">-->
    <!--<div class="col-12 text-left font-weight-bold pb-3">-->
    <!--<span>{{notification.device.name}} </span><span-->
    <!--class="pl-2">{{notification.device.industry_type.name}} </span></div>-->
    <!--<div class="col-12 text-left"><span>{{notification.message}}</span></div>-->
    <!--<div class="col-12 text-left faded-text">-->
    <!--<span>{{notification.created_at|timeAgo}}</span></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
