

<div class="container-fluid login-container" >

    <div class="row pt-4 ">
      <div *ngFor="let device of device_list" class="col-md-6 mt-2 text-white ">
        <a class="nounderline text-white" href="/device/{{device.id}}">
          <div class="card text-center">
            <img src="http://api.wirfi.testiw.codesamaj.com{{device.machine_photo}}" class="img-fluid mx-auto d-block"  style="max-width:200px;">
            <div class="card-body">
              <h4 class="card-title"><span>{{device.name}}</span></h4>
              <p class="card-text">Serial Number:<span>{{device.serial_number}}</span></p>
            </div>
          </div>
          </a>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
</div>