<div *ngIf="!loading" class="register-container d-flex align-items-center">
    <div class="container" *ngIf="valid_url;else errorBlock">
        <div class="row  justify-content-center">
            <div class="col-md-6 pb-5 text-center text-white">
                <h5 class=" ">
                    Please enter a new password for:
                </h5>
                <h5>{{email}}</h5>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-6 text-center">
                <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">

                    <div class="form-group">
                        <input type="password" name="new_zpassword1" class="form-control form-control-lg"
                               id="password_one"
                               placeholder="New Password" required minlength="6" ngModel #password_1="ngModel">
                        <div class="invisible-text text-right">
                            <small *ngIf="resetForm.submitted && password_1.hasError('required')">
                                This is required field.
                            </small>
                            <small *ngIf="resetForm.submitted && password_1.hasError('minlength')">
                                Password must be minimum 6 characters long
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="new_password2" class="form-control form-control-lg"
                               id="passowrd_two"
                               placeholder="Retype New Password" validateEqual="password1" required minlength="6"
                               ngModel
                               #password_2="ngModel">
                        <div class="invisible-text text-right text-white">
                            <small *ngIf="password_2.hasError('validateEqual') && resetForm.submitted ">
                                Password didn't matched.
                            </small>
                            <small *ngIf="resetForm.submitted &&password_2.hasError('required')">
                                This is required field.
                            </small>
                            <small *ngIf="resetForm.submitted && password_2.hasError('minlength')">
                                Password must be minimum 6 characters long
                            </small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-light btn-lg btn-block">Reset My Password</button>
                </form>
            </div>
        </div>
    </div>
    <ng-template #errorBlock>
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-6 pb-5 text-center text-white">
                    <img src="../../assets/images/wirfi-logo.png" class="img img-fluid logo"/>

                    <span class="d-block">That's an error</span>
                    <span>The requested URL  was not found on this server.</span>
                </div>
            </div>
        </div>
    </ng-template>
</div>
