<div class="container-fluid device-container p-0">
    <div class=" d-flex  justify-content-center">
        <div class="w-50 mt-5">
            <h1 class="text-center text-white">
                Reset Password
            </h1>
            <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm)">
                <div class="form-group">
                    <input type="password" name="old_password" class="form-control form-control-lg" id="old_password"
                           placeholder="Old password" required  ngModel #old_password="ngModel">
                    <div class="invisible-text text-right  text-white">
                        <small *ngIf="changeForm.submitted && old_password.hasError('required')">
                            This is required field.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password1" class="form-control form-control-lg" id="password_one"
                           placeholder="New password" required
                           pattern="^(?=.*?[A-Za-z])(?=.*?[0-9#?!@$%^&*-]).{8,}$" ngModel
                           #new_password1="ngModel">
                    <div class="invisible-text text-right  text-white">
                        <small *ngIf="changeForm.submitted && new_password1.hasError('required')">
                            This is required field.
                        </small>
                        <small *ngIf="new_password1.errors?.pattern">
                            Password must be 8 characters long with at least 1 number or 1 special character.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password2" class="form-control form-control-lg" id="password_two"
                           placeholder="Retype  new password" validateEqual="new_password1" required
                           ngModel #new_password2="ngModel">
                    <div class="invisible-text text-right text-white">
                        <small *ngIf="new_password2.hasError('validateEqual') && changeForm.submitted ">
                            Password didn't matched.
                        </small>
                        <small *ngIf="changeForm.submitted && new_password2.hasError('required')">
                            This is required field.
                        </small>

                    </div>
                </div>

                <button type="submit" class="btn btn-light btn-block btn-lg float-right ">Change Password</button>
            </form>


        </div>
    </div>
</div>
