.page-item.active .page-link {
    color: #232938 !important;
}

.page-link {
    color: #484d5b;
    background-color: red !important;
    border: 1px solid red !important;
}

.page-item:hover {
    background-color: red !important;

}