.logo{
    max-width:300px;
}

.bordered {
  border: 1px solid white;
  background: #394b58;
}

.bordered:hover {
  border: 1px solid white;
  background: #3F5360;
}

.forget-account {
  text-decoration: underline;
  cursor: pointer;
}
