
.billing-list, .billing-detail, .billing-list-add-card {

  list-style-type: none;
  padding: 1px;

  li {
    border-bottom: 1px solid #C0C0C0;
    padding-top: $spacer;
    padding-bottom: $spacer;

    &:first-child {
      border-top: 1px solid #C0C0C0;

    }
    a {
      display: block;
      cursor: pointer;
    }
    span.bold-text {
      display: block;
      font-weight: 900;
      color: #fff;

    }

  }

}

.billing-detail {

  li {
    border-bottom: 1px dotted #C0C0C0;

    &:first-child {
      border-top: 1px dotted #C0C0C0;

    }

    span.bold-text {
      color: #fff;

    }

  }

}

.billing-list-add-card {
  li {

    &:first-child {
      border-top: none;

    }

  }
}

.larger-card-size {
  font-size: 20rem;

}

@media screen and (max-width: 764px) {

  .larger-card-size {
    font-size: 12rem;

  }
}


