.content {
  margin-left: $sidebar-width;

  &--no-sidebar {
    margin-left: 0;
  }
  &--collapsed {
    margin-left : $sidebar-width-collapsed;
  }
  &--login {
    margin-left : $sidebar-width-login;
  }
}
