.device-container{
    min-height: 100vh;
}


.ngb-tp-input-container .btn-link {
    color: white !important;
}

.video-list{
    background-color: #333849;
    padding:$spacer*.2;
}

.device-image{
    width:100px;
    height:100px;
}