.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  background: rgb(232, 232, 232);

  &--collapsed {
    position: fixed;
    height: 100vh;
    background: rgb(232, 232, 232);

    width: $sidebar-width-collapsed;

    .nav-item-text {
      display: none;
    }

  }

  .nav-item {
    padding: 5px;
    width: $sidebar-width;
  }

  .nav-item:hover {
    //background-color: #bdbdbd;
    background-color: rgb(204, 204, 204);
  }

  .nav-item a {
    text-decoration: none;
    display: block;
  }
  .nav-item-text {
    font-size: $font-size-lg;
    padding-left: $spacer*2;
    color: $black;
  }

}
