.sidebar {
  position: fixed;
  width: $sidebar-width;
  overflow: hidden;
  height: 100vh;
  background:$secondary;
  transition: width 300ms;
  z-index: 1;
  border-right: 2px solid white;


  &__user {
    height: 200px;
    &-icon {
      width: 100px;
      transition: width 300ms;
    }
  }

  &--collapsed {
    width: $sidebar-width-collapsed;

    .sidebar__user-icon {
      width: $sidebar-width-collapsed;
      transition: width 300ms;
    }

    &:hover{
      width:$sidebar-width;
    }


  }

  .nav-item {
    padding-top: $spacer/2;
    padding-bottom: $spacer/2;
    width: $sidebar-width;

    .fa {
      width: $sidebar-width-collapsed;
    }
    &:hover{
    background-color: rgb(204, 204, 204);
    }
    a{
    text-decoration: none;
    display: block;
    }
    &-text{
      color: $black;
    }
    &.active{
      color:$white;
      border-left:2px solid red;
      background-color: $primary;

     .nav-item-text{
       color:$white;
     } 
    }
  }

  .wrapper{
    position: absolute;
    width: 250px;
  }
  .invisible{
    display: block;
  }

}