.dashboard-top-bar {
  height: $topbar-height;
  background-color: black;

  __hamburger{
    color: rgb(126, 122, 122);
  }
}

.topbar-container{
  background-color:$primary;
  border-bottom: 1px solid $secondary;
}
