<div class="container device-container">
    <div class="row">
        <div class="col-lg-4 col-md- col-sm-12 pt-5 text-white">
            <section>
                <header class="pb-2 pl-1" style="font-weight: 900">
                    PAYMENT METHODS
                </header>
                <div *ngIf="!noBillingData && billingLoaded ">
                    <ul class="billing-list">

                        <li *ngFor="let billing of customerStripeInfo; let i = index">
                            <a (click)="OpenDetail(billing)">
                                <div class="row">
                                    <div class="col-4">
                                        <i *ngIf="billing.brand=='Visa';else second"
                                           class="fab fa-3x fa-cc-visa p-2"></i>
                                        <ng-template #second>
                                            <i *ngIf="billing.brand=='MasterCard';else third"
                                               class="fab fa-3x fa-cc-mastercard p-2"></i>

                                        </ng-template>
                                        <ng-template #third><i class="fa fa-3x fa-address-card-o p-2"></i></ng-template>
                                    </div>
                                    <div class="col-8">
                                        <span class="bold-text">{{billing.brand}}</span>

                                        <span>{{billing.funding}} ••••{{billing.last4}}</span>
                                    </div>
                                </div>
                            </a>

                        </li>

                    </ul>
                </div>

                <ul class="billing-list-add-card">

                    <li>
                        <button class="btn btn-link "
                                [disabled]="buffering" (click)="openCheckout()">
                            <div class="row">
                                <div class="col-4">

                                    <i class="fa fa-2x fa-plus-circle text-white"></i></div>
                                <div class="col-8">
                                    <span class="bold-text">Link a Card <i
                                            *ngIf="buffering"
                                            class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                                </div>
                            </div>
                        </button>
                    </li>

                </ul>
            </section>
        </div>

        <div *ngIf="!noBillingData && billingLoaded" class="col-lg-8 col-sm-12 panel vh-100 pt-4">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <!--<img style="border-radius:8px;" src="../../assets/images/visa.JPG" width="50%"/>-->
                    <i *ngIf="billingDetail.brand=='Visa';else second"
                       class="fab  fa-cc-visa larger-card-size "></i>
                    <ng-template #second>
                        <i *ngIf="billingDetail.brand=='MasterCard';else third"
                           class="fab  fa-cc-mastercard larger-card-size"></i>

                    </ng-template>
                    <ng-template #third><i class="fa  fa-address-card-o larger-card-size"></i></ng-template>
                    <span class="pt-4 d-block">{{billingDetail.brand}}</span>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mx-auto text-left pt-3 text-white">
                    <ul class="billing-detail">

                        <li>
                            <span class="bold-text">Type</span>
                            <span>{{billingDetail.funding}}</span>

                        </li>
                        <li>
                            <span class="bold-text">Expiration Date</span>
                            <span>{{billingDetail.exp_month}}/{{billingDetail.exp_year}}</span>

                        </li>

                        <li>
                            <span class="bold-text">Card Holder's Name</span>
                            <span>{{ billingDetail.name}}</span>

                        </li>

                        <li>
                            <span class="bold-text"> Billing Address</span>
                            <span style="display:block">{{billingDetail.address_line1}}</span>
                            <span>{{billingDetail.address_city}}, {{billingDetail.address_country}}  {{billingDetail.address_zip}}</span>

                        </li>

                    </ul>
                </div>
                <div class="col-12 col-md-8 mx-auto text-center pt-3 pb-3 text-white">
                    <!--<span (click)="OpenCardUpdateForm(billingDetail)"> Update Card </span>|-->
                    <span style="cursor:pointer" (click)="OpenDeleteDailog(billingDetail)">Delete Card</span>
                </div>


            </div>
        </div>

    </div>


</div>
