<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md- col-sm-12 pt-5">
            <section>
                <header class="pb-2 pl-1" style="font-weight: 900">
                    PAYMENT METHODS
                </header>
                <ul class="billing-list">
                    <li *ngFor="let billing of billings; let i = index">
                        <a (click)="OpenDetail(billing)">
                            <div class="row">
                                <div class="col-4">

                                    <i class="fa fa-3x fa-university p-2 "></i></div>
                                <div class="col-8">
                                    <span class="bold-text">{{billing.brand}}</span>

                                    <span>
                                {{billing.funding}} ••••{{billing.last4}}
                            </span>
                                </div>
                            </div>
                        </a>
                    </li>


                    <li>
                        <a (click)="openCheckout()">
                            <div class="row">
                                <div class="col-4">

                                    <i class="fa fa-2x fa-plus-circle text-primary"></i></div>
                                <div class="col-8">
                                    <span class="bold-text">Link a Card</span>


                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </section>
        </div>

        <div class="col-lg-8 col-sm-12 bg-light vh-100 pt-4">
            <div class="row">
                <div class="col-12 text-center">
                    <img style="border-radius:8px;" src="../../assets/images/visa.JPG" width="50%"/>
                    <span class="pt-4 d-block">{{billingDetail.brand}}</span>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mx-auto text-left pt-3">
                    <ul class="billing-detail">

                        <li>
                            <span class="bold-text">Type</span>
                            <span>{{billingDetail.funding}}</span>

                        </li>
                        <li>
                            <span class="bold-text">Expiration Date</span>
                            <span>{{billingDetail.exp_month}}/{{billingDetail.exp_year}}</span>

                        </li>

                        <li>
                            <span class="bold-text">Card Holder's Name</span>
                            <span>{{ billingDetail.name}}</span>

                        </li>

                        <li>
                            <span class="bold-text"> Billing Address</span>
                            <span style="display:block">{{billingDetail.address_line1}}</span>
                            <span>{{billingDetail.address_city}}, {{billingDetail.address_country}}  {{billingDetail.address_zip}}</span>

                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>


</div>
