<div class="sidebar" [class.sidebar--collapsed]="isCollapsed">
    <div class="row">

        <div class="col text-center  pt-1 pb-1">
            <img src="../../assets/images/user-logo.png" class="img-round text-center" height="100" width="100"/>
            <h4 class="text-center" style="margin-bottom: .01rem !important;">Test User</h4>
            <p class="text-center text-muted mb-0">test data</p>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-2 mb-2" style="background-color: rgb(204, 204, 204);">


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <ul class="nav flex-column">
                <li class="nav-item " [routerLinkActive]="'active'">
                    <a class="pl-3" [routerLink]="['dashboard']">
                        <i class="fa fa-fw fa-2x fa-dashboard"></i>
                        <span class="nav-item-text">Dashboard</span>
                    </a>

                </li>
                <li class="nav-item " [routerLinkActive]="'active'">

                    <a class="pl-3" [routerLink]="['device']">
                        <i class="fa fa-fw fa-2x fa-mobile"></i>
                        <span class="nav-item-text">Devices</span>
                    </a>
                </li>
                <li class="nav-item  pl-3" [routerLinkActive]="'active'">
                    <a class="pl-3" [routerLink]="['logout']">
                        <i class="fa fa-fw fa-2x fa-sign-out"></i>

                        <span class="nav-item-text">Logout</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>

<!--rgb(204, 204, 204)-->
<!--rgb(232, 232, 232)-->