<div class="sidebar" [class.sidebar--collapsed]="isCollapsed" (mouseenter)="ShowText()"
     (mouseleave)="$event.target.classList.contains('sidebar--collapsed') && hideText()">
    <div class="row">
        <div class="col text-center sidebar__user">
            <img src="../../assets/images/user-logo.png" class="img-round sidebar__user-icon"/>
            <h4 class="text-center" [ngClass]="{'invisible': !isVisible}" style="margin-bottom: .01rem !important;">{{logged_in_user?.full_name}}</h4>
            <p class="text-center text-muted mb-0" [ngClass]="{'invisible': !isVisible}">{{logged_in_user?.email}}</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item " [routerLink]="['dashboard']" [routerLinkActive]="'active'">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-item-text">Dashboard</span>
                    </li>

                    <li class="nav-item " [routerLink]="['industry-list']" [routerLinkActive]="'active'">
                        <i class="fa fa-fw fa-industry"></i>
                        <span class="nav-item-text">Industry Types</span>
                    </li>

                    <li class="nav-item " [routerLink]="['devices']" [routerLinkActive]="'active'">
                        <i class="fa fa-fw fa-mobile"></i>
                        <span class="nav-item-text">Devices</span>
                    </li>

                    <li class="nav-item" [routerLink]="['billing']" routerLinkActive="active">
                        <i class="fa fa-fw fa-money"></i>
                        <span class="nav-item-text">Billing</span>
                    </li>

                    <li class="nav-item" [routerLink]="['profile']" routerLinkActive="active">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-item-text">Profile</span>
                    </li>

                    <!--<li class="nav-item" [routerLink]="['device-info']" routerLinkActive="active">-->
                        <!--<i class="fa fa-fw fa-users"></i>-->
                        <!--<span class="nav-item-text">Add device</span>-->
                    <!--</li>-->

                    <li class="nav-item" [routerLink]="['bussiness']" [routerLinkActive]="'active'">
                        <i class="fa fa-fw fa-building"></i>
                        <span class="nav-item-text">Business Info</span>
                    </li>

                    <li class="nav-item" [routerLink]="['change-password']" [routerLinkActive]="'active'">
                        <i class="fa fa-fw fa-key"></i>
                        <span class="nav-item-text">Change Password</span>
                    </li>

                    <li class="nav-item" [routerLink]="['logout']">
                        <i class="fa fa-fw fa-sign-out"></i>
                        <span class="nav-item-text">Logout</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

