<div class="row justify-content-center align-items-center">
    <div class="col-md-12 text-center text-white ">
        <h5 *ngIf="data.is_asleep" class="pb-1">Select Sleep Option</h5>
        <h5 *ngIf="!data.is_asleep"> Are you sure you want to Awake Device?</h5>
    </div>
    <div class="col-md-12 text-white pb-2">
        <form *ngIf="data.is_asleep ;else awakeConfirmation" #sleepDeviceForm='ngForm'
              (ngSubmit)='sleepDevice(data.device_id,data.is_asleep,sleepDeviceForm)'>

            <input type="radio" name="options" [(ngModel)]="sleepOption.options" value="1">
            Time Duration
                <div class="d-flex justify-content-center">
                    <ngb-timepicker name="device_sleep_time" [(ngModel)]="time" ngModel></ngb-timepicker>
                </div>

            <input type="radio" name="options" [(ngModel)]="sleepOption.options" value="2">
            Date time
                <div class="d-flex justify-content-center">
                    <ngb-datepicker class="mr-5" name='sleep_date' #dp [(ngModel)]="dateModel" (navigate)="date = $event.next" ngModel></ngb-datepicker>

                    <ngb-timepicker name="sleep_time" [(ngModel)]="sleep_time" ngModel [meridian]="meridian"></ngb-timepicker>
                </div>

            <input type="radio" name="options" [(ngModel)]="sleepOption.options" value="3">
            Sleep indefinitely<br/>

            <div class="d-flex justify-content-center">
                <button [disabled]="sleepButtonClicked" type="submit" class="btn justify-content-center btn-light">
                    Sleep
                    <i *ngIf="sleepButtonClicked" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                </button>
            </div>
        </form>
        <ng-template #awakeConfirmation>
            <div class="d-block pt-3 text-center">
                <p class="pb-3">Device is Slept Until: {{sleptUntil|date :"dd MMM HH:mm"}}</p>
                <button (click)="awakeDevice(data.device_id,data.is_asleep)" [disabled]="sleepButtonClicked"
                        type="submit" class="btn btn-light">Awake
                    <i *ngIf="sleepButtonClicked" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                </button>
            </div>
        </ng-template>


    </div>
</div>
