<div class="m-5 text-white">
    <section class="leader-table">
        <div class="row">
            <div class="col-md-3">
                <h2>WiRfi Users</h2>

            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search" (keyup)="filterUsers($event.target.value)">
            </div>
            <div class="col-md-3 text-right">
                <a class="btn btn-primary" [routerLink]="['/users-create']" [routerLinkActive]="'active'">
                    <span><i class="fa fa-plus"> Add Users</i> </span>
                </a>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 table-responsive">
                <table class="table" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="3">
                    <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="pk">#</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="first_name">Name</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="is_staff">User Type</mfDefaultSorter>
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of mf.data; let i = index" [attr.data-index]="i">
                        <th>{{ i + 1 }}</th>
                        <td>{{ user?.first_name }} {{ user?.last_name }}</td>
                        <td>{{ user?.email }}</td>
                        <td>
                            {{ user?.is_superuser ? 'Super Admin' : user?.is_staff ? 'Administrator' : 'Basic User' }}
                        </td>
                        <td>
                            <a class="btn btn-success my-1 my-md-0" (click)="impersonate(user.pk)">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-danger my-1 my-md-0 mx-md-2" (click)="deleteUserPopUp(user)"><i
                                    class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center text-primary">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>