<div class="container-fluid device-container">
    <div class="row pt-4 ">
        <div class="col-md-12  text-white" style="position: relative;">
            <div class="row">

                <div class="offset-md-6 col-md-2">
                    <button mat-button [matMenuTriggerFor]="presetOptions">Preset &#x25BE;</button>

                    <mat-menu #presetOptions="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="clearPreset()">Clear<span
                                *ngIf="presetFilterValue.value.sort_type===sortParams['Clear'] && presetFilterValue.value.filter_type===filterParams['Clear']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <div *ngFor="let preset of presetList.value" style="position: relative;">
                            <button mat-menu-item (click)="changePreset(preset.id)" style="padding-right: 60px;">
                                {{preset.name}}
                                <span *ngIf="presetFilterValue.value.id===preset.id" class="float-right"><i
                                        class="fa fa-check "></i></span>
                            </button>
                            <span class="delete-icon-preset"
                                  (click)="deletePresetPopUp(preset.id,preset.name,preset.sort_type,preset.filter_type,preset.filter_keys)">
                                <i class="fa fa-trash"></i>
                            </span>

                        </div>
                        <button *ngIf="ifPresetAlreadyExists()" mat-menu-item (click)="addPresetPopUp()"><span
                                class="text-primary font-weight-bold">Add Preset</span>
                        </button>
                    </mat-menu>
                </div>

                <div class="col-md-2">
                    <button mat-button [matMenuTriggerFor]="filterOptions">Filter &#x25BE;</button>

                    <mat-menu #filterOptions="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="changeFilterParams(filterParams['Clear'])">Clear<span
                                *ngIf="presetFilterValue.value.filter_type==filterParams['Clear']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <button mat-menu-item (click)="changeFilterParams(filterParams['Priority'])">Priority<span
                                *ngIf="presetFilterValue.value.filter_type==filterParams['Priority']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <button mat-menu-item (click)="changeFilterParams(filterParams['Problems'])">Problems<span
                                *ngIf="presetFilterValue.value.filter_type==filterParams['Problems']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <button mat-menu-item (click)="changeFilterParams(filterParams['Franchise'])">Franchise<span
                                *ngIf="presetFilterValue.value.filter_type==filterParams['Franchise']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <button mat-menu-item [matMenuTriggerFor]="types_of_industry">Industry<span
                                *ngIf="presetFilterValue.value.filter_type==filterParams['Industry']"
                                class="float-right"><i
                                class="fa fa-check "></i></span>

                        </button>
                    </mat-menu>

                    <mat-menu #types_of_industry="matMenu">
                        <button mat-menu-item *ngFor="let type of industry_type"
                                (click)="changeFilterParams(filterParams['Industry'],type.id)">
                            {{type.name}}
                            <span *ngIf="presetFilterValue?.value?.filter_keys?.indexOf(type.id)!=-1"
                                  class="float-right"><i class="fa fa-check "></i></span>
                        </button>
                    </mat-menu>


                </div>

                <div class="col-md-2">
                    <button mat-button [matMenuTriggerFor]="sortOptions">Sort &#x25BE;</button>

                    <mat-menu #sortOptions="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="changeSortParams(sortParams['Clear'])">Clear<span
                                *ngIf="presetFilterValue.value.sort_type==sortParams['Clear']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <button mat-menu-item (click)="changeSortParams(sortParams['NetworkStatus'])">Network
                            Status<span
                                    *ngIf="presetFilterValue.value.sort_type==sortParams['NetworkStatus']"
                                    class="float-right"><i
                                    class="fa fa-check "></i></span>
                        </button>
                        <button mat-menu-item (click)="changeSortParams(sortParams['Location'])">Location<span
                                *ngIf="presetFilterValue.value.sort_type==sortParams['Location']"
                                class="float-right"><i
                                class="fa fa-check "></i></span></button>
                        <button mat-menu-item (click)="changeSortParams(sortParams['InstallationDate'])">
                            Installation
                            Date<span
                                *ngIf="presetFilterValue.value.sort_type==sortParams['InstallationDate']"
                                class="float-right"><i
                                class="fa fa-check "></i></span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        ￼
        <div class="col-md-12 pt-3">
            <div class="row">
                <div class="col-md-6 text-white" *ngFor="let device of deviceList.value; let idx = index">
                    <div>
                        <div class="panel">
                            <div class="card text-center">
                                <div ngbDropdown class="d-inline-block">
                                    <div class="setting_icon" id="dropdownBasic1" ngbDropdownToggle>
                                        <i class="fas fa-cog"></i>
                                    </div>

                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="device-dropdown">
                                        <button *ngIf="device?.device_settings?.mute_settings; else firstTimeCreated"
                                                class="dropdown-item"
                                                (click)="muteDevicePopUp(device.id, !device?.device_settings?.mute_settings?.is_muted, device?.device_settings?.mute_settings?.mute_start, device?.device_settings?.mute_settings?.mute_duration)">
                                            {{device?.device_settings?.mute_settings?.is_muted ?'UnMute':'Mute'}}
                                        </button>
                                        <ng-template #firstTimeCreated>
                                            <button class="dropdown-item" (click)="muteDevicePopUp(device.id,true)">
                                                Mute
                                            </button>
                                        </ng-template>
                                        <button class="dropdown-item" style="margin-right: 55px; cursor:default;"
                                                (click)="sleepDevicePopUp(device.id, !device?.device_settings?.sleep_settings?.is_asleep, device?.device_settings?.sleep_settings?.sleep_start, device?.device_settings?.sleep_settings?.sleep_duration)">
                                            {{device.device_settings?.sleep_settings?.is_asleep? 'Awake': 'Sleep'}}
                                        </button>
                                        <div style="position:relative; cursor:default;">

                                            <button class="dropdown-item"
                                                    style=" margin-right: 55px;cursor:default !important;">
                                                Primary Network
                                            </button>


                                            <span class="add-icon-network"
                                                  (click)="device.device_network?.primary_network?manageNetworkPopUp(device.id,true,device.device_network.primary_network):manageNetworkPopUp(device.id,true,null)"> <i
                                                    [ngClass]="device.device_network?.primary_network?'fa fa-fw fa-pencil-alt':'fa fa-fw fa-plus-circle'"></i></span>
                                            <span *ngIf="device.device_network?.primary_network"
                                                  (click)="deleteNetworkPopUp(device.id,true)"
                                                  class="delete-icon-network ml-3 mr-2"><i
                                                    class="fa fa-fw fa-trash"></i></span>
                                        </div>

                                        <div style="position:relative;">
                                            <button class="dropdown-item"
                                                    style=" margin-right: 55px;cursor:default !important;">
                                                Secondary Network
                                            </button>

                                            <span class="add-icon-network"
                                                  (click)="device.device_network?.secondary_network?manageNetworkPopUp(device.id,false,device.device_network.secondary_network):manageNetworkPopUp(device.id,false,null)"> <i
                                                    [ngClass]="device.device_network?.secondary_network?'fa fa-fw fa-pencil-alt':' fa fa-fw fa-plus-circle'"></i></span>
                                            <span *ngIf="device.device_network?.secondary_network"
                                                  (click)="deleteNetworkPopUp(device.id,false)"
                                                  class="delete-icon-network ml-3 mr-2"><i
                                                    class="fa fa-fw fa-trash "></i></span>

                                        </div>
                                    </div>
                                </div>

                                <a class="nounderline text-white" href="/device/{{device.id}}">
                                    <img src={{API_URl}}{{device.machine_photo}}
                                         class="img-fluid mx-auto d-block device-image" style="max-width:200px;">
                                </a>

                                <div class="card-body">
                                    <a class="nounderline text-white" href="/device/{{device.id}}">

                                        <h5 class="card-title">
                                            <span>{{device.name}} &#9679; {{device.industry_type.name}}</span>
                                        </h5>
                                    </a>
                                    <p class="card-text"><span>{{device.address}}</span></p>
                                    <div *ngIf="(device.device_status | json) != '{}'">
                                        <h6 class="card-title"><span>{{status_dict[device?.device_status?.status]}} &#9679; {{device?.device_status?.timestamp | timeAgo}}</span>
                                        </h6>
                                        Last updated: {{device?.device_status?.timestamp | datetimeformat}}<br>
                                    </div>

                                    <i class="fas fa-wifi fa-wifi-off"></i>&nbsp;
                                    <i class="fas fa-moon"
                                       [ngClass]="!device?.device_settings?.sleep_settings?.has_sleep_feature ? 'fa-moon-unavailable' : (device?.device_settings?.sleep_settings?.is_asleep ? 'fa-moon-asleep' : '')"></i>&nbsp;
                                    <i class="fas fa-camera"
                                       [ngClass]="device?.camera_service?.length == 0 ? 'fa-camera-unavailable' : (!device?.camera_service[0]?.is_on ? 'fa-camera-off' : '')"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
