<div class="container-fluid login-container" >
    <div class="row  d-flex align-items-center text-white " >

  
 
    
        <div class="col-md-6 text-right mt-5">
            <div class="heading">Name</div>
            <div class="sub-heading">Subheading</div>
            <div class="heading">Address</div>
            <div class="sub-heading">Subheading</div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="heading">Email</div>
            <div class="sub-heading">Subheading</div>
            <div class="heading">Location</div>
            <div class="sub-heading">Subheading</div>
        </div>
   

    </div>
</div>