<div class="container-fluid device-container" >
    <div class=" d-flex justify-content-center">
        <div class="w-50 mt-5 text-white">
    
        <div class="card">
          <div *ngIf="loading" class="card-body">
            <img src="http://api.wirfi.testiw.codesamaj.com{{person['profile']['profile_picture']}}">
            <h3 class="card-title">Person's Name: {{person['full_name']}}</h3>
            <p class="card-text">Address: {{person['profile']['address']}}</p>
            <p class="card-text">Phone Number: {{person['profile']['phone_number']}}</p>
              <button class="btn btn-outline-light" routerLink="/profile-update">Edit</button>
          </div>
        </div>
    
      </div>
    </div>
</div>