<div class="container-fluid p-0">
    <div class=" device-container mx-4">
        <div class="my-3">
            <div class="row">
                <!-- <fieldset class="text-white mx-5">
                    <label *ngFor="let item of industryTypes">
                        <input type="checkbox" [(ngModel)]="value_of_checkbox[item]"
                                (change)="toggleFeatureDoughnut(item, $event.target.checked)"/> {{item}}
                    </label>
                </fieldset> -->

                <div class="col-12 text-white pl-4">
                    <h5>Network Status </h5>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-6 col-md-2 pl-2">
                    <div class="doughnut_chart pt-2 pl-2 pr-5" id="doughnut_chart">

                    </div>
                </div>

                <div class=" col-sm-6 col-md-3 text-white pr-0 pl-4">
                    <ul style="list-style: none;">
                        <li class="pt-1 pb-2" *ngFor="let data of doughnutFilterData">
                            <span class="dot status_dot" [ngStyle]="{'background-color': data.color}"></span>
                            {{data.value}} {{data.status}}
                        </li>
                    </ul>
                </div>

                <div class="col-md-7 px-2" id="deviceLineChart">
                    <!-- <fieldset class="text-white">
                        <label *ngFor="let item of industryTypes">
                            <input type="checkbox" [(ngModel)]="value_of_checkbox[item]"
                                (change)="toggleFeatureLineGraph(item, $event.target.checked)"/> {{item}}
                        </label>
                    </fieldset> -->
                    <div class="linec_chart" id="line_chart">

                    </div>
                </div>

            </div>
        </div>

        <div class="row m-1 mt-5 mb-5" >
            <div class="col-md-8 p-0">
                <div class="card">
                    <agm-map [latitude]="lat" [longitude]="long" [scrollwheel]="true" [zoom]="12">
                        <agm-marker *ngFor="let location of deviceLocations" [latitude]="location.latitude" [iconUrl]=""
                                    [longitude]="location.longitude">
                        </agm-marker>


                    </agm-map>

                </div>
                <div class="col-12 text-center pt-2 pb-2">
                    <button class="btn btn-lg btn-outline-light" routerLink="/plan-route">Plan a Route</button>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="card" style="height:400px;">
                    <div class="d-flex h-100 justify-content-center align-items-center">
                        <a class="btn btn-primary text-white" routerLink="/device-add">
                            <i class="fa fa-plus text-white"></i> <br>Add New Devices
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-6 pr-0">-->
                <!--<div class="card" style="height:400px;">-->
                    <!--<h4 class="text-white text-center">Network Locations</h4>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    </div>
</div>
