
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

body {
    font: 12px Arial;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: left;
}

g.axis line, g.axis path {
    fill: none;
    stroke: royalblue !important;
    shape-rendering: crispEdges;
}

g.axis text {
    fill: royalblue !important;
    font-family: sans-serif;
}

g.axis path {
    stroke-width: 2;
    stroke: seagreen !important;
}

text {
    fill: red;
}

agm-map {
    height: 400px;
}