<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img style="border-radius:8px;" src="../../assets/images/visa.JPG" width="50%"/>

        </div>
        <div class="col-12 text-center">
            <h3 class="pt-3 pb-3">Remove card</h3>
            <h5>{{data.cardDetail.brand}} ••••{{data.last4}}</h5>
        </div>
        <div class="col-12 text-center ">
            <span class="text-justify pt-4">Any pending payments on this card will be processed even after you remove it.
                Are you sure you want to remove your {{data.cardDetail.brand}} {{data.cardDetail.funding}} ••••{{data.cardDetail.last4}} from your Wirfi account?
            </span>
        </div>
        <div class="col-12 text-center pt-5">
            <button *ngIf="!loading;else loadingDiv" (click)="deleteCardConfirmed(data.cardDetail)"
                    class="btn-primary btn-lg rounded">Remove This Card
            </button>
            <ng-template #loadingDiv>Loading...</ng-template>
        </div>
    </div>
</div>


