/* You can add global styles to this file, and also import other style files */
/**@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';*/
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.53);
    opacity: .7;
}

.text-primary {
    color: #007bff !important
}

.mat-dialog-container {
    background-color: #292e3f;
}
