<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h5 class="text-white"> {{ data.name?"Edit Franchise Type":"Add Franchise Type"}}
            </h5>
            <form [class.was-validated]="add_industry_form.submitted" class="form" #add_industry_form='ngForm'
                  (ngSubmit)='franchiseTypeForm(add_industry_form)'>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" class="form-control" id="" aria-describedby="helpId"
                           placeholder="{{data.name?data.name:'Enter Name'}}" required
                           [(ngModel)]="industryTypeName" name="name" #name="ngModel">

                    <div class="invisible-text text-right text-white">
                        <small class="text text-danger"
                               *ngIf="add_industry_form.submitted && name.hasError('required')">
                            This is required field.
                        </small>
                        <small class="text text-danger" *ngIf="nameAlreadyExists">
                            This name already Exists.
                        </small>
                    </div>
                </div>
                <button type="submit" class=" p-2 btn btn-block btn-success">
                    {{ data.name?"Edit Franchise Type":"Add Franchise Type"}}
                </button>
                <button type="button" class="btn btn-block btn-light" mat-button mat-dialog-close>Cancel</button>
            </form>

        </div>
    </div>
</div>


