<div class="container-fluid p-0">
    <div class=" device-container d-flex align-items-center justify-content-center">
      <form>
      <div class="form-group">
        <label for="location_logo"></label>
        <input type="file" class="form-control-file" name="" id="location_logo" placeholder="" aria-describedby="fileHelpId">
        <small  class="form-text text-muted">Location location_logo</small>
      </div>
      <div class="form-group">
          <label for="location_photo"></label>
          <input type="file" class="form-control-file" name="" id="location_photo" placeholder="" aria-describedby="fileHelpId">
          <small class="form-text text-muted">Location Photo</small>
        </div>
    <div class="form-group">
        <label for="latitude"></label>
        <input type="file" class="form-control-file" name="" id="latitude" placeholder="" aria-describedby="fileHelpId">
        <small class="form-text text-muted">Location Photo</small>
      </div>
  </form>

    </div>
  </div>