<div class="container-fluid p-0">
    <div class=" device-container d-flex align-items-center justify-content-center">
        <div class="w-50">
            <h1 class="text-center text-white">Add Wirfi device</h1>
            <form class="form-horizontal" role="form"
                    #deviceForm='ngForm' (ngSubmit)='onSubmit(deviceForm)'>
    
                <div class="form-group">
                    <!--<label class="text-white">Serial Number</label>-->
                    <input id="serial_number" type="text" class="form-control" name="serial_number" placeholder="Device's Serial Number" required
                            autofocus ngModel #serial_number="ngModel">
                    <div class="invalid-feedback text-right">
                        <span *ngIf="serial_number.hasError('required')">
                            This is required field.
                        </span>
                        <!--<span *ngIf="serial_number.hasError('serial_number')">-->
                            <!--Enter a valid serial number of device.-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-white">Name</label>
                    <input id="name" type="text" class="form-control" name="name" placeholder="Device Name" required
                            autofocus ngModel #name="ngModel">
                    <div class="invalid-feedback text-right">
                        <span *ngIf="name.hasError('required')">
                            This is required field.
                        </span>
                        <!--<span *ngIf="name.hasError('name')">-->
                        <!--Enter a valid serial number of device.-->
                        <!--</span>-->
                    </div>
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ">
                        Next
                    </button>
                </div>
    
            </form>
        </div>
    </div>
</div>